
.card {
  border-radius: 10px;
  width: 328px;
  border: 1px solid #000000;
}
.cardHeader {
  color: #2d42ba;
  font-family: 'Karla', sans-serif;
  font-size: 38px;
  text-align: left;
}
.cardBody {
  color: #93959F;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}
